@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 3.7% 15.9%;
    --old-background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes dots {
  0%,
  20% {
    content: "."; /* One dot */
  }
  25%,
  45% {
    content: ".."; /* Two dots */
  }
  50%,
  70% {
    content: "..."; /* Three dots */
  }
  75%,
  100% {
    content: ""; /* Reset to no dots */
  }
}

.dots::after {
  content: ""; /* Start with no additional dots */
  animation: dots 1.5s steps(1, end) infinite; /* Animate the dots */
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: #1db954; /* Spotify's signature green color */
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #1db954; /* Box shadow color adjusted to match */
}

.small {
  width: 200px;
  height: 200px;
  right: calc(100% - 150px); /* Changed from left to right and adjusted value */
  top: calc(100% - 150px); /* Changed from bottom to top and adjusted value */
}

.medium {
  width: 400px;
  height: 400px;
  right: calc(100% - 250px); /* Adjusted for top-left positioning */
  top: calc(100% - 250px); /* Adjusted for top-left positioning */
}

.large {
  width: 600px;
  height: 600px;
  right: calc(100% - 350px); /* Adjusted for top-left positioning */
  top: calc(100% - 350px); /* Adjusted for top-left positioning */
}

.xlarge {
  width: 800px;
  height: 800px;
  right: calc(100% - 450px); /* Adjusted for top-left positioning */
  top: calc(100% - 450px); /* Adjusted for top-left positioning */
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  right: calc(100% - 550px); /* Adjusted for top-left positioning */
  top: calc(100% - 550px); /* Adjusted for top-left positioning */
}

.top-right-circle {
  position: absolute;
  border-radius: 50%;
  background: #1db954; /* Spotify's signature green color */
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #1db954; /* Box shadow color adjusted to match */
}

/* Reusing the size classes but positioning the circles at the top right */
.top-right-circle.xxlarge {
  width: 1000px;
  height: 1000px;
  right: -500px;
  top: -500px;
}

.top-right-circle.xlarge {
  width: 800px;
  height: 800px;
  right: -400px;
  top: -400px;
}

.top-right-circle.large {
  width: 600px;
  height: 600px;
  right: -300px;
  top: -300px;
}

.top-right-circle.medium {
  width: 400px;
  height: 400px;
  right: -200px;
  top: -200px;
}

.top-right-circle.small {
  width: 200px;
  height: 200px;
  right: -100px;
  top: -100px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}
